.name {
  text-align: center;
}
.video {
  right: 20px;
  position: relative;
  width: 25%;
  border-style: solid;
}
.hyperlink {
  right: 20px;
  position: absolute;
  width: 25%;
}
.togglingImages {
     margin-left: 5%;
     margin-top: 10%;
     width: 25%; height: 20%;
     border-style: solid;
}
