.name {
  text-align: center;
}
.video {
  width: 100%;
  border-style: solid;
  border-width: 5px;
}
.hyperlink {
  text-align: center;
}
.togglingImages {
  width: 100%; 
  border-style: solid;
  border-width: 5px;
}
.ingredientDiv {
  margin-left: 20px;
  width: 100%;
}
.slide, .panel {
  padding: 5px;
  text-align: center;
  background-color: lightblue;
  border: solid 1px #c3c3c3;
  margin-left: 35%;
  width:60%;
}
.panel {
  padding: 50px;
  display: none;
}
.leftPane {
  width: 25%;
  height: 100%;
  float: left;
  padding: 20px;
}
.middlePane {
  width: 50%;
  height: 100%;
  float: left;
  padding: 20px;
}
.rightPane {
  width: 25%;
  height: 100%;
  position: relative;
  float: right;
  padding: 20px;
}
