.name {
  text-align: center;
}
.video {
  width: 100%;
  border-style: solid;
  border-width: 5px;
}
.videoDiv {
  right: 20px;
  width: 25%;
  position: fixed;
}
.hyperlink {
  text-align: center;
}
.togglingImages {
  margin-left: 20px;
  width: 25%; 
  border-style: solid;
  border-width: 5px;
}
.ingredientDiv {
  margin-left: 20px;
  width: 25%;
}
.container {
  margin: 0px;
}
.description {
  margin: auto;
  position: relative;
  width: 40%;
}
.slide, .panel {
  padding: 5px;
  text-align: center;
  background-color: lightblue;
  border: solid 1px #c3c3c3;
  margin-left: 35%;
}

.panel {
  padding: 50px;
  display: none;
}

